STORE_CORS=http://localhost:8000,https://summithire.tech,https://www.summithire.tech,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://summithire.tech,https://www.summithire.tech,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://summithire.tech,https://www.summithire.tech,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
COOKIE_SECURE=true
MEDUSA_BACKEND_URL=https://summithire.tech
MEDUSA_FILE_BACKEND_URL=https://summithire.tech/static
DATABASE_URL=
DB_NAME=medusa-v2
